* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* SET BODY TO FLEX */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #f9faf8;
}
/* START HEADER SECTION */

.header,
.main-header,
footer {
  color: #f9faf8;
  background: #1f2937;
  display: flex;
}

.header {
  padding: 14px 100px;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

.header nav ul {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
}
/* END HEADER SECTION */

/* START MAIN CONTAINER  */

/* MAIN-HEADER */
.main-header {
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.main-header .left-header {
  width: 490px;
}

.left-header h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.left-header p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 14px;
}

.left-header a {
  background: #3882f6;
  color: #f9faf8;
  padding: 8px;
  border-radius: 8px;
}
.main-header .right-header {
  width: 350px;
  height: 200px;
  background-color: #e5e7eb;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* END MAIN-HEADER */
/* END MAIN CONTAINER */

/* START OF INFORMATION SECTION */
.information {
  padding: 14px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.information h2 {
  flex-shrink: 0;
}

.information .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
}

.card-container .card {
  width: 150px;
  text-align: center;
}
.card .card-box {
  height: 150px;
  width: 150px;

  border: 2px #3882f6 solid;
  margin-bottom: 12px;
  border-radius: 8px;
}
/* END OF INFORMATION SECTION */

/* START OF TESTIMONIAL SECTION */

.testimonial {
  padding: 25px 100px;

  background: #e5e7eb;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.testimonial p:first-child {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
  max-width: 80vw;
}

.testimonial .author {
  margin-top: 14px;
  align-self: flex-end;
  font-weight: bold;
}

/* END OF TESTIMONIAL SECTION */

/* START SIGNUP NOW  */
.signupnow {
  padding: 25px 100px;
}

.signup-container {
  padding: 12px;
  background: #3882f6;

  color: #e5e7eb;
  border-radius: 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.signup-container .right-signup {
  padding: 2px 12px;
  border: 2px #f9faf8 solid;
  border-radius: 5px;
  flex-shrink: 0;
}

.signup-container .right-signup:hover {
  border: 1px #e5e7eb solid;
  border-radius: 5px;
  color: #e5e7eb;
}
/* END SIGNUP NOW  */

footer {
  padding: 12px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
